body {
    background: white;
    color: blue ;  
}

#always {
    font-size: 56touchpx;

}

.headers {
        font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
        color: blue;  
        text-align: left;
}